*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*Align the highscores button and timer on opposites of the screen in the header*/
header{
display:flex;
justify-content:space-between;
}

/*font styling and positioning for the highscores button*/
#highscores{
    padding:10px;
    color: #490e64;
    font-size:16px;
}

/*font styling and positioning for timer*/
#timer{
    padding:10px;
    color: black;
    font-size:16px;
}

/*styling of main container when screen initially loads, items are centered*/
.initialcontainer{
    margin: auto;
    width: 40%;
    text-align:center;

}

/*styling of main container when quiz is in progress, items are left justified*/
.playcontainer{
    margin: auto;
    width: 40%;
    text-align:left;

}



/*General button styling for all buttons throughout the quiz*/
.button{
padding: 5px;
cursor: pointer;
font-size: 16px;
background-color: #490e64;
border-radius:5px;
border-color:white;
color: white;
}

/*button color reduces opacity when user hovers*/
.button:hover{
    opacity:0.5;
}

/*button color reduces opacity and has blue border when user clicks*/
.button:focus{
    opacity:0.5;
    box-shadow: 0px 0px 8px
    rgba(9, 159, 204, 0.993), 0px 0px 5px
    rgba(9, 159, 204,1);
}

/*styling for feedback to user if they answer a question correctly or incorrectly*/
#answer{
    margin-top:15px;
    font-size:16px;
    font-style:italic;
    margin-top:10px;
    color:rgb(165, 159, 159);


}

/*styling for answer choice section to remove bullets*/
#choices{
    list-style:none;
}


/*background color and border for scores */
#storedScores {
    background-color:#c8a9d6;

    
    
}
#storedScores li {
   border-top: 1px solid white;
    
}